body{
  
    background: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg");
}
img{
    width:350px;
    border:dashed;
    height:350px;
}
p{
    color:white;
    font-family: 'Spicy Rice', cursive;
}
h1{
    color:white;
    font-family: 'Spicy Rice', cursive;
}
h2{
    color:white;
    font-family: 'Spicy Rice', cursive;
    }
h3{
    color:white;
    font-family: 'Spicy Rice', cursive;
}
ul{
    color:white;
}
h4{
    color:white;
}
ul{
    color:white;
    font-family: 'Spicy Rice', cursive;
}
h5{
    color:white;
}
h6{
    color: white;
}
